cython_utils/build
cython_utils/*.c

*.md
.pre-commit-config.yaml
.gitlab-ci.yml
.vscode
.gitignore
.git
.env
env
.eslintrc.js
.Trash-1000
.DS_Store
Dockerfile
.ipynb_checkpoints
*.ipynb
pdf_to_json.py
data
*.html
*.proto
*.cpp
*.so
requirements-dev.txt
demo_logs.log
temp
temp/*
data
data/*
testimages
testimages/*
cython_utils/build
.Trash-*
*.swp
static/*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class