chars2vec==0.1.7
scikit-learn==0.22.2.post1
numpy==1.18.2
tensorflow==2.0.0b1
symspellpy==6.5.2
keras==2.3.1
spacy==2.2.4
python-Levenshtein==0.12.0
python-dotenv==0.12.0
sentry-sdk==0.14.3
Cython==0.29.16
flask_api==2.0
flask==1.1.1
string
re